#advSearchLink:hover {
    cursor: pointer;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    cursor: default;
}

#imgGallery {
    width: 90%;
    margin: 0 auto;
}

#pagination {
    width: 90%;
    margin: 0 auto;
}

.img-thumbnail {
    margin: 0px 5px 10px 5px;
}